body{
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: Arial;
    margin:0;
    overflow:hidden;
}

.container{
    background:white;
    padding:40px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,0,0,0.4);
}

h1{
    color:#333;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:20px;
    justify-content:center;
}

button{
    padding:15px 30px;
    font-size:20px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    transition:0.2s;
}

.yes-button{
    background:#ff2e78;
    color:white;
}

.no-button{
    background:#ccc;
    position:relative;
}